<!DOCTYPE html>
<html>
  <body>
    <h1>Convert <%= @sym_a %> to <%= @sym_b %></h1>

    <p>1 <%= @sym_a %> equals <%= @result %> <%= @sym_b %></p>

    <p>Go <a href="/<%=@sym_a%>">back</a>.</p>
  </body>
</html>
